ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-box {
  background-color: blueviolet;
  background-image: url('https://i.pinimg.com/564x/18/c0/9b/18c09b2a894365d7161e829e830b7fc5.jpg');
  background-position: center;
  background-size: cover;
  width: 45vw;
  height: 100px;
  margin: calc(var(--spacing) * 2) auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  .link-box {
    width: 30vw;
    margin: calc(var(--spacing) * 3) auto;
    font-size: 1.2rem;
  }
}
