.nav-filter {
  width: 100%;
  height: calc(var(--spacing) * 8);
  background-color: var(--dark);
}
.nav-filter h2 {
  text-align: center;
  line-height: calc(var(--spacing) * 8);
  color: var(--light);
}
.filter-banner {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.subfiltering {
  text-align: center;
  margin-top: calc(var(--spacing) * 3);
}
.subfilter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.subfilter-card {
  width: 300px;
  height: 100px;
  margin: calc(var(--spacing) * 1);
  position: relative;
}
.subfilter {
  width: 300px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 8px;
}
.subfilter-name {
  width: 200px;
  height: 100px;
  position: absolute;
  right: 50px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(60%);
}
.subfilter-name h4 {
  color: var(--light);
  text-shadow: 1.5px 1.5px 3px var(--dark);
}
