.results-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.trip-card {
  width: 400px;
  height: 400px;
  padding: 10px 10px 10px 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid black;
}
.trip-container {
  margin: auto;
}
.trip-card-carrousel {
  width: 380px;
  height: 310px;
  position: relative;
  border: solid black;
}
.trip-sensation-meter {
  position: absolute;
  top: 10px;
  right: 10px;
}
.trip-caption {
  width: 380px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border: solid black;
}
.trip-info {
  width: 170px;
  display: flex;
  flex-direction: column;
  border: solid black;
}
.pin {
  height: 14px;
}
.trip-info-country {
  color: var(--main-color);
}
.trip-price {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: solid black;
}
