.nice-dates-day {
  height: 40px !important;
  color: var(--dark-true) !important;
}

.nice-dates-day.-outside {
  color: #999 !important;
}

.nice-dates-navigation {
  height: 50px !important;
}
.nice-dates-day.-disabled {
  color: #999 !important;
}

.nice-dates-day:before {
  background-color: var(--dark-true) !important;
}

.nice-dates-day:after {
  border: 2px solid var(--dark-true) !important;
}

.nice-dates-navigation_previous:hover:before,
.nice-dates-navigation_next:hover:before {
  border-color: var(--dark-true) !important;
}

.nice-dates-navigation {
  color: var(--dark-true) !important;
  height: 40px;
}

.calendar {
  padding-top: calc(var(--spacing) * 2) !important;
  height: 450px !important;
  margin-top: calc(var(--spacing) * 10) !important;
}

#people {
  color: var(--dark-true);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding: 2px;
  border: none;
  background-color: var(--light-true);
  outline: none;
  font-size: 13px;
  text-align: center;
  border-bottom: solid 1px var(--dark-true);
}

select {
  font-size: 20px;
}
