.nice-dates-day {
  color: var(--dark) !important;
}

.nice-dates-day:before {
  background-color: var(--dark) !important;
}

.nice-dates-day:after {
  border: 2px solid var(--dark) !important;
}

.nice-dates-navigation_previous:hover:before,
.nice-dates-navigation_next:hover:before {
  border-color: var(--dark) !important;
}

.nice-dates-navigation {
  color: var(--dark) !important;
}

.calendar p {
  margin-top: var(--spacing);
}
