.nice-dates-day {
  height: 40px !important;
  color: var(--dark) !important;
}

.nice-dates-day.-outside {
  color: #999 !important;
}

.nice-dates-navigation {
  height: 50px !important;
}
.nice-dates-day.-disabled {
  color: #999 !important;
}

.nice-dates-day:before {
  background-color: var(--dark) !important;
}

.nice-dates-day:after {
  border: 2px solid var(--dark) !important;
}

.nice-dates-navigation_previous:hover:before,
.nice-dates-navigation_next:hover:before {
  border-color: var(--dark) !important;
}

.nice-dates-navigation {
  color: var(--dark) !important;
  height: 40px;
}

.calendar {
  padding-top: calc(var(--spacing) * 2) !important;
  height: 400px !important;
  margin-top: calc(var(--spacing) * 10) !important;
}
