footer {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

footer h4 {
  text-transform: uppercase;
  font-weight: lighter;
}
