footer {
  padding: var(--spacing);
  background-color: var(--dark);
  color: var(--light);
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  margin-top: auto;
}

footer ul {
  padding: 0;
  list-style-type: none;
  margin: var(--spacing);
}
.follow ul {
  display: flex;
  justify-content: center;
}

.follow ul li {
  padding: 1em;
}
footer h4 {
  display: none;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-align: center;
}

footer img:hover {
  filter: drop-shadow(8px 8px 10px var(--second-color));
}

.links {
  display: inline;
  text-align: center;
}

.credits {
  text-align: center;
}

.credits p {
  font-size: 12px;
}

span {
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  footer .links {
    display: flex;
    justify-content: space-evenly;
  }

  footer h4 {
    display: block;
  }

  .links > * {
    width: 250px;
  }
}
