.form {
  width: 800px;
  margin: 0 auto;
  align-items: center;
}

.form h1 {
  text-align: center;
}

.form .form-data {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.form-button {
  display: inline-block;
  justify-items: center;
  text-transform: uppercase;
}

fieldset {
  border-radius: 16px;
  border: solid var(--dark-true);
  width: ;
}

input {
  width: 90%;
}
