.recap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
}
.cardTitle {
  margin: calc(var(--spacing) * 2) auto;
  font-size: 20px;
  font-weight: 900;
}

.cardDetail {
  margin: calc(var(--spacing) * 2) auto;
  padding-left: calc(var(--spacing) * 4);
}

.travelCard {
  justify-content: center;
  padding: 10px;
  width: max-content;
  border-radius: 20px;
  border: solid 3px;
  border-image: linear-gradient(
    var(--third-color), var(--main-color), var(--second-color)) 10
  );
}

.factureCard {
  padding: 10px;
  width: max-content;
}

.pricePerDay {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.finalCalc {
  margin: 10px;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#bookingOk {
  width: max-content;
  margin: 0 auto;
  height: calc(var(--spacing) * 2);
}

@media screen and (min-width: 992px) {
  .recap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .travelCard {
    width: 600px;
  }
  .factureCard {
    width: 600px;
  }
}
