.trip {
  min-height: 90vh;
  text-align: center;
}

.trip-texts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.trip-texts h2 {
  width: 100%;
}

.carousel-box {
  /* background: url('../images/filters/era4.jpg') no-repeat; */
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  height: 450px;
  margin: calc(var(--spacing) * 2), auto;
  width: 90%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.trip-infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacing);
}

.trip-infos div {
  padding: var(--spacing) calc(var(--spacing) * 2);
  min-width: 75px;
  background-color: white;
  border: 1px solid hsl(240, 6%, 68%);
  display: flex;
  align-items: center;
}

.trip-infos-country {
  border-radius: 30px 0 0 30px;
}

.trip-infos-price {
  border-radius: 0 30px 30px 0;
}

.description {
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 5);
  margin: 10px;
  border-radius: 20px;
  height: 100%;
  background-color: var(--light);
  box-shadow: 0 0 8px hsl(0, 0%, 76%);
}

.description p {
  margin-top: calc(var(--spacing) * 2);
}

.description-link-ext:link,
.description-link-ext:visited,
.description-link-ext:hover,
.description-link-ext:active {
  color: var(--dark);
}

.calendar {
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 8px hsl(0, 0%, 76%);
  width: 100%;
}

.trip .colorButton {
  display: block;
  width: 195px;
  margin: var(--spacing) auto calc(var(--spacing) * 2) auto;
  padding: calc(var(--spacing) * 2) 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media screen and (max-width: 352px) {
  .trip-infos div {
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-box {
    height: 400px;
  }
  .description {
    width: 42%;
  }

  .calendar {
    width: 45%;
  }
}
