.banner {
  background: url(../../images/test.jpg) no-repeat center;
  height: 650px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light);
}

.banner h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--light);
}

.banner h2 {
  margin-bottom: 90px;
  text-align: center;
}
.presentation {
  width: 90%;
  max-width: 370px;
  text-align: justify;
}

.presentation h4 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: var(--spacing);
}
.logo {
  width: 11rem;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 13rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 18rem;
  }

  .banner h1 {
    font-size: 60px;
  }

  .presentation {
    max-width: 570px;
  }
}
