:root {
  --light: #eaf5fe;
  --dark: #111d62;
  --main-color: #c13636;
  --second-color: #780e5a;
  --third-color: #fc9972;

  --spacing: '';
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}
